html, body, #app {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    /* font-family: 'Segoe UI Variable', 'Segoe UI', Cantarell, 'Inter', sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    justify-content: center;
}

* {
    /* font-family: "Segoe UI Variable"; */
    /* font-family: system-ui; */
    font-family: Nunito, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", Roboto;

    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    line-height: 1.5;
}

select, button, input {
    color: white;
    font-size: 100%;
}

select, button {
    border: none;
    text-transform: none;
}

@font-face {
    font-family: Nunito;
    src: url(./Nunito-VariableFont.ttf);
}

@keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(100%);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
}

@keyframes fadeOutLeft {
    0% {
       opacity: 1;
       transform: translateX(0);
    }
    100% {
       opacity: 0;
       transform: translateX(-100%);
    }
}

.svg {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}
